<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit contact</title>
</head>
<body>
<h1>Edit contact</h1>
<form action="/contact/edit" method="post">
      <input type="hidden" name="uuid" th:value="${contact.uuid}">
    <div>
        <label for="firstName">First name</label>
        <input type="text" id="firstName" name="firstName" th:value="${contact.firstName}">
    </div>
    <div>
        <label for="lastName">Last name</label>
        <input type="text" id="lastName" name="lastName" th:value="${contact.lastName}">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" th:value="${contact.email}">
    </div>
    <div>
        <label for="telephoneNumber">Telephone number</label>
        <input type="text" id="telephoneNumber" name="telephoneNumber" th:value="${contact.telephoneNumber}">
    </div>
    <button type="submit">Save</button>
</form>
</body>