<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
</head>
<body>
<h1>Contacts</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Telephone number</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contact : ${contacts}">
        <td th:text="${contact.uuid}"></td>
        <td th:text="${contact.firstName}"></td>
        <td th:text="${contact.lastName}"></td>
        <td th:text="${contact.email}"></td>
        <td th:text="${contact.telephoneNumber}"></td>
        <td>
            <a th:href="@{/contact/edit/{id}(id=${contact.uuid})}">Edit</a>
            <a th:href="@{/contact/delete/{id}(id=${contact.uuid})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/contact/create">Create contact</a>
</body>
</html>